/*heading*/

h1 {
  color: white;
}

.heading {
  padding-top: 10em;
  background-image: linear-gradient(170deg, #333333 , var(--color-secondary));
  background-image: url("http://via.placeholder.com/350x65");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  text-align: justify;
}

span {
  color: #fff;
}

.piece {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.download {
  padding-top: 1em;
  padding-bottom: 1em;
}

.download:hover {
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: none;
  border-right: none;
  background-color: inherit;
  text-decoration: none;
}
