---
---

/*nav*/

header {
  background-color: rgba(51,51,51,0.75);
  color: white;
  width: 100%;
  z-index: 1;
}

h4 {
  padding-left: 1.5rem;
}

.nav {
  background-color: rgba(84, 144, 151, .5);
  padding-right: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

a:focus {
  border: none;
  color: #7c9ca9;
}

a:hover {
  color: #7c9ca9;
  text-decoration: underline;
}

a:active {
  color: #7c9ca9;
  text-decoration: underline;
}

navi {
  color: #fff;
  text-decoration: none;
}

.current {
  opacity: .65;
  color: #7c9ca9;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

/*footer*/

footer {
  background-color: #333;
}

.footy {
  color: white;
}

.foot-nav {

  width: 33%;
}

.copyright {
  vertical-align: right;
}

/*logo*/
.icon {
  height: 25px;
}

.wordmark {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("{{site.baseurl}}/images/main.jpg");
  min-height: 100vh;
}

.bgimg-2 {
  background-image: url("{{site.baseurl}}/images/harvester.jpg");
  min-height: 100vh;
}

.bgimg-3 {
  background-image: url("{{site.baseurl}}/images/cogg.jpg");
  min-height: 100vh;
}

.bgimg-4 {
  background-image: url("{{site.baseurl}}/images/rust.jpg");
  min-height: 100vh;
}

.bgimg-5 {
  background-image: url("{{site.baseurl}}/images/wheel.jpg");
  min-height: 100vh;
}

.bgimg-6 {
  background-image: url("{{site.baseurl}}/images/twigs.jpg");
  min-height: 100vh;
}

.bgimg-7 {
  background-image: url("{{site.baseurl}}/images/corner.jpg");
  min-height: 100vh;
}

.bgimg-8 {
  background-image: url("{{site.baseurl}}/images/moss.jpg");
  min-height: 100vh;
}

.bgimg-9 {
  background-image: url("{{site.baseurl}}/images/test.jpg");
  min-height: 100vh;
}

@media only screen and (min-width: 400px) {
/*enlargen logo*/
.icon {
  height: 35px;
}
}

@media only screen and (min-width: 608px) {
/*enlargen logo*/
.icon {
  height: 45px;
}
}

@media only screen and (min-width: 960px) {

/*nav*/

.nav {
  background-color: rgba(51,51,51,0);
}
}
