:root {
  --color-primary: #333333;
  --color-secondary: #549097;
  --color-accent: #8aaec0;
  --btn-border: #fff;

  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Playfair Display", serif;
}

html {
  font-family: var(--font-primary);
  color: #333333;
}

h1 {
  font-family: var(--font-primary);
}

h1,h2,h3 {
  color: var(--color-secondary);
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline-color: var(--color-secondary);
}

/*parallax*/
body, html {
  height: 100%;
  margin: 0;
}

.info {
  color: #666;
  background-color: #333;
  text-align: center;
  padding: 1em 1em;
}

.about {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 52em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 100%;
}

.border {
  background-color: transparent;
  font-size: 25px;
  color: #fdfdfd;
  text-align: center;
}

.under-border {
  background-color: transparent;
  font-size: 20px;
  color: #fdfdfd;
}

.title {
  text-align: center;
  letter-spacing: 5px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}

.caption2 {
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption p.border {
  background-color: #;
  color: #fff;
  padding: 18px;
  font-size: 25px;
}

.caption2 p.border {
  background-color: #;
  color: #fff;
  padding: 18px;
  font-size: 25px;
}

h2 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
  color: #666;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
      height: 100vh;
    }

    .title {
      letter-spacing: inherit;
    }
}


@media only screen and (min-width: 400px) {

  .img-flex {
    margin: 0;
  }

  .caption p.border {
    letter-spacing: 10px;
  }

  .caption2 p.border {
    letter-spacing: 10px;
  }

  .about {
    text-align: justify;
  }
}

@media only screen and (min-width: 960px) {

  .heading {
    padding-top: 10em;
  }
  /*nav*/
  .img-flex {
    height: 100vh;
  }
}
