---
layout: case-study
type: Illustration
title: Abstract Characters · Illustration · Sherin Snidal Design
header: Abstract Characters
cssName: case-study
content-name: A grouping of illustrations called "Abstract Characters" designed by Tessa Sherin-Snidal.
about: Abstract vector painting of dramatic faces featuring each a different gold accents. Each painting has a different feel, but each are brought together in their treatment and style of the brush strokes. The portraits show a variety of colours and treatments
img: 3
link: abstract-characters
---

{% include case-piece.html img="4" title="Golden Lips" image="golden-lips.jpg" alt="Abstract vector painting, Golden Lips" %}
{% include case-piece.html img="5" title="Golden Hair" image="golden-hair.jpg" alt="Abstract vector painting, Golden Hair" %}
{% include case-piece.html img="6" title="Golden Ears" image="golden-ears.jpg" alt="Abstract vector painting, Golden Ears" %}
