---
layout: case-study
type: Illustration
title: Abstract Characters · Illustration · Sherin Snidal Design
header: Abstract Characters
cssName: case-study
content-name: A grouping of illustrations called "Abstract Characters", designed by Tessa Sherin-Snidal.
about: An abstract vector painting of dramatic faces featuring different treatments and colours. Each painting has a different feel, and are brought together in their treatment and styles of brush stroke.
img: 3
link: abstract-characters
---

{% include case-piece.html img="3" title="Golden Lips" image="golden-lips.jpg" alt="Abstract vector painting, Golden Lips" %}
{% include case-piece.html img="3" title="Golden Hair" image="golden-hair.jpg" alt="Abstract vector painting, Golden Hair" %}
{% include case-piece.html img="3" title="Golden Ears" image="golden-ears.jpg" alt="Abstract vector painting, Golden Ears" %}
