---
layout: default
title: Sherin Snidal Design · Graphic Designer Portfolio, Fun - Engaging - Clean! · Ottawa, Ontario
cssName: home
current: current
content-name: Tessa Sherin Snidal's Design Portfolio Website.
about: Solving problems in a constructive and creative way is what gets me out of bed in the morning, because Graphic Design is comprised of all that i need to love every day of my profession. It drives me to better myself, and the world around me.<br><br>I have always loved art, but have never been able to solely make something attractive without a purpose. I have always been driven to make the creations in my world more attractive to solve the usability issues facing our everyday life.
id: portfolio
---

<div itemscope itemtype="https://schema.org/Creativework" class="bgimg-1">
  <div class="caption">
    <p itemprop="creator" class="border push-0">Tessa Sherin-Snidal</p>
  </div>
  <div class="caption2">
    <p itemprop="description" class="border push-0">Graphic Designer</p>
  </div>
</div>

<div itemscope itemtype="https://schema.org/Creativework" class="info">
  <div class="">
    <h2 itemprop="name" class="title">About Me</h2>
    <p itemprop="description" class="about">{{page.about}}</p>
  </div>
</div>

<div class="grid text-center pad-t-2 pad-b-2 wrapper">
  <div class="unit [ xs-1 m-1-3 ] inline-block gutter">
    <a href="#illustration">
      <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 256 256"><defs><style>.a{fill:#e2e2e2;}.b{fill:#666;}.c{fill:none;stroke:#666;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>placeholder</title><path class="a" d="M128 253a125 125 0 1 1 125-125 125.1 125.1 0 0 1-125 125z"/><path class="b" d="M128 5a123 123 0 0 1 87 210 123 123 0 1 1-174-174 122.2 122.2 0 0 1 87-36m0-4a127 127 0 1 0 127 127 127 127 0 0 0-127-127z"/><path class="c" d="M40 41l177.3 177.3M215.3 40.7l-174.8 174.8"/></svg>
      <h3>Illustration</h3>
    </a>
  </div>
  <div class="unit [ xs-1 m-1-3 ] inline-block gutter">
    <a href="#ux">
      <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 256 256"><defs><style>.a{fill:#e2e2e2;}.b{fill:#666;}.c{fill:none;stroke:#666;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>placeholder</title><path class="a" d="M128 253a125 125 0 1 1 125-125 125.1 125.1 0 0 1-125 125z"/><path class="b" d="M128 5a123 123 0 0 1 87 210 123 123 0 1 1-174-174 122.2 122.2 0 0 1 87-36m0-4a127 127 0 1 0 127 127 127 127 0 0 0-127-127z"/><path class="c" d="M40 41l177.3 177.3M215.3 40.7l-174.8 174.8"/></svg>
      <h3>UX Design</h3>
    </a>
  </div>
  <div class="unit [ xs-1 m-1-3 ] inline-block gutter">
    <a href="#branding">
      <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 256 256"><defs><style>.a{fill:#e2e2e2;}.b{fill:#666;}.c{fill:none;stroke:#666;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>placeholder</title><path class="a" d="M128 253a125 125 0 1 1 125-125 125.1 125.1 0 0 1-125 125z"/><path class="b" d="M128 5a123 123 0 0 1 87 210 123 123 0 1 1-174-174 122.2 122.2 0 0 1 87-36m0-4a127 127 0 1 0 127 127 127 127 0 0 0-127-127z"/><path class="c" d="M40 41l177.3 177.3M215.3 40.7l-174.8 174.8"/></svg>
      <h3>Branding</h3>
    </a>
  </div>
</div>

<section class="dborder pad-b">
  <div class="dborder">
    <h2 class="text-left section gutter pad-t-2 pad-b-1-2 push-0" id="illustration">Illustration</h2>
    {% include banner.html link="marvel-characters" title="Marvel Characters" image="marvel-characters" %}
    {% include banner.html class="pad-t-2 pad-b-2" link="abstract-characters" title="Abstract Characters" image="abstract-characters" %}
    {% include banner.html class="pad-t-2 pad-b-2" link="making-of-beer" title="The Making of Beer" image="beer-banner" %}
    {% include banner.html class="pad-t-2 pad-b-2" link="guy-ritchie" title="Guy Ritchie's Best" image="guy-ritchie-banner" %}
  </div>

  <div>
    <h2 class="text-left section gutter pad-t-2 pad-b-1-2 push-0" id="ux">UX Design</h2>
    {% include banner.html link="gendersafe" title="GenderSafe" image="gendersafe-banner" %}
  </div>

  <div>
    <h2 class="text-left section gutter pad-t-2 pad-b-1-2 push-0" id="branding">Branding</h2>
    {% include banner.html link="kars-massage-therapy" title="Kars Massage Therapy" image="kars-massage-therapy-banner" %}
  </div>

</section>
