---
layout: case-study
type: Illustration
title: Marvel Characters · Illustration · Sherin Snidal Design
header: Marvel Characters
cssName: case-study
content-name: A grouping of illustrations called "Marvel Characters", designed by Tessa Sherin-Snidal.
about: A geometric illustration of Marvel Characters, vectored to give them each a low-poly look. These characters are represented in a way that they can be marketed on many different platforms and materials.
img: 2
link: marvel-characters
---

{% include case-piece.html img="1" title="Captain America" image="captain-america" alt="Low-Poly picture of Captain America" %}
{% include case-piece.html img="3" title="Deadpool" image="deadpool" alt="Low-Poly picture of Deadpool" %}
