/*heading*/

h1 {
  color: white;
  text-transform: uppercase;
}

.heading {
  padding-top: 10em;
  background-image: linear-gradient(170deg, #333333 , #3e555f);
  background-image: url("http://via.placeholder.com/350x65");
  background-repeat: no-repeat;
  background-size: cover;
}
