/*nav*/

header {
  background-color: var(--color-primary);
  color: white;
  width: 100%;
}

h4 {
  padding-left: 1.5rem;
}

.nav {
  background-color: var(--color-secondary);
  padding-right: 1.5rem;
}


a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
}

a:focus {
  border: none;
  color: #7c9ca9;
}

a:hover {
  color: #7c9ca9;
  text-decoration: underline;
}

a:active {
  color: #7c9ca9;
  text-decoration: underline;
}

navi {
  color: #fff;
  text-decoration: none;
}

.current {
  opacity: .65;
  color: #7c9ca9;
  text-decoration: none;
  pointer-events: none;
  cursor: default;
}

/*footer*/

footer {
  background-color: #333;
}

.footy {
  color: white;
}

.foot-nav {

  width: 33%;
}

.copyright {
  vertical-align: right;
}

@media only screen and (min-width: 960px) {

/*nav*/

  .nav {
    background-color: var(--color-primary)
  }

}
