<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="description" content="{{page.content-name}}">

  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="http://sherinsnidaldesign.ca">
  <meta property="og:image" content="{{site.baseurl}}/images/main.svg">
  <meta property="og:site_name" content="Sherin Snidal Design">
  <meta name="og:description" content="{{page.content-name}}">

  <meta name="twitter:card" content="graphic-designer-portfolio">
  <meta name="twitter:site" content="@sherinsnidaldesign">
  <meta name="twitter:title" content="Sherin Snidal Design">
  <meta name="twitter:url" content="http://www.sherinsnidaldesign.ca">
  <meta name="twitter:description" content="{{page.content-name}}">
  <meta name="twitter:image" content="{{site.baseurl}}/images/main.svg">

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400|Raleway" rel="stylesheet">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/{{page.cssName}}.css" rel="stylesheet">

</head>

<body class="relative">

  <header class="fixed">
    <div class="wordmark pad-t-1-2 pad-b-1-2 text-center">
      <i itemscope itemtype="https://schema.org/Person" class="icon i-500 text-center wordmark">
        <a rel="home" itemprop="name" href="{{site.baseurl}}/" class="btn-link"><img src="{{site.baseurl}}/images/wordmarkl.svg" alt="Link to Home Page"></a>
      </i>
    </div>
  </header>

  <main class="{{page.id}}">
    {{content}}
  </main>

  <footer class="pad-t grid">
    <ul class="unit text-left [ xs-1 ] list-group grid pad-b gutter-1-2">
      <li class="gutter unit [xs-1 m-1-3]"><a rel="home" class="navi {{page.current}} micro" href="{{site.baseurl}}/">Home</a></li>
      <li class="gutter unit [xs-1 m-1-3]"><a class="navi {{page.current3}} micro" href="{{site.baseurl}}/contact-me/">Contact Me</a></li>
    </ul>
    <div class="gutter unit [ xs-1 ]">
      <i class="icon i-32 push-1-2 gutter">
        <a rel="me" class="icon-link" itemprop="url" href="https://www.behance.net/tessasheri7e7e"><img src="{{site.baseurl}}/images/behance.svg" alt="Behance Link"></a>
      </i>
      <i class="icon i-32 push-1-2 gutter">
        <a rel="me" class="icon-link" itemprop="url" href="https://www.instagram.com/sherinsnidaldesign/"><img src="{{site.baseurl}}/images/insta.svg" alt="Instagram Link"></a>
      </i>
      <i class="icon i-32 push-1-2 gutter">
        <a rel="me" itemprop="email" class="icon-link" href="mailto:tessa@sherinsnidaldesign.ca"><img src="{{site.baseurl}}/images/email.svg" alt="Mail Link"></a>
      </i>
    </div>
    <div class="copyright gutter unit [ xs-1 ] pad-t-1-2">
      <p class="footy micro gutter-1-2">© Sherin-Snidal Design</p>
    </div>
  </footer>

</body>
</html>
